.navbar-custom {
    background-color: #000000e5;
    height: 60px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

.navbar-custom .navbar-nav .nav-link {
    color: whitesmoke;
}


.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: rgb(23, 53, 73);
}

.navbar-custom .nav-item .nav-link {
    margin-right: 30px;
}