.addItemClass {
    min-height: 91%;
    width: 100%;
}

.cardClass {
    width: 60%;
    text-align: center;
    margin: auto;
}


.formFieldClass {
    width: 90%;
    margin: auto;
}

.inputStyle {
    width: 100%;
}

.fileInputClass {
    width: 60%;
    margin: auto;
}

.buttonClass {
    background-color: #0C6980;
    margin-right: 10px;
    color: white;
    margin-top: 10px;
}