.items {
    background-color:#c6cbcc;
    height: 100%;
    width: 100%;
}

.add-item {
    min-height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-item-add {
    width: 100%;
}