  
<div class="listClass">
    <p class="shiftViewDown">
        Items
    </p>
    <div>
        <mat-card class="list-item-card-class">
            <mat-card-title class="centerAlign"></mat-card-title>
            <mat-card-content>
                <p class="description-class">
                </p>
                <p class = "price-right-align">
                </p>
                <div class="centerAlign">
                    <button 
                        class="buttonClass"
                        mat-raised-button
                    >View</button>
                    <button
                        class="buttonClass"
                        mat-raised-button
                    >Delete</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>