<div class="view-items">
    <mat-card class="viewCardClass">
        <mat-card-content class="card-content-class">
            <div class="row">
                <div class="col-md-6 heightClass">
                    <img src={{item?.itemImagePath}} width="350px" height="200px">
                </div>
                <div class="col-md-6">
                    <h2 style="text-align: center;">{{ item?.itemName }}</h2>
                    <p>{{ item?.itemDescription }}</p>
                    <h4 style="text-align: right;">{{ item?.itemPrice }}</h4>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>